{% extends "base.html.twig" %}

    {% block title %}
 <title>twig </title>
{% endblock%}
 



{% block content %}

{% for produit in produits %}
  <div class="card">
    <div class="card-body"><p>{{produit}}</p>
</div>
  </div>

{% endfor %}

{% endblock%}