{% extends "base.html.twig" %}

    {% block title %}
 <title>twig </title>
{% endblock%}
 



{% block content %}

   <div class="container">
      <div class="row">

{% for produit in produits %}
  
 
        <div class="col-4">
          <div class="card">
            <div class="card-body px-4 pt-4"><p>{{produit}}</p>
            </div>
          </div>
        </div>


{% endfor %}

      </div>
    </div>
 
{% endblock%}